.accordion {
    border: 1px solid white;
    border-radius: 10px;/
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 18px;
    width: 100%;
    text-align: center;
    outline: none;
    transition: 0.5s;

    font-family: Arial, sans-serif;
    font-size: 1.5vh;
    font-weight: bolder;
}

.accordion > h3 {
    /*background-color: green;*/
}

/*.active, .accordion:hover {*/
/*    background-color: #ccc;*/
/*}*/

.active {
    /*background-color: #1a1c1e;*/
    background-color: green;
    color: #f6bf26;
}

.accordion:after {
    /*content: '\2B07';*/
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    /*content: '\2B06';*/
}

.panel {
    background-color: #1a1c1e;
    color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    /*font-size: 25px;*/
}
