* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.error_cards_container {
    box-sizing: border-box;
    background-color: #1a1c1e;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 1.5vh;
}

.error_card {
    margin: 10px;
}

p {
    color: #FFFFFF;
    text-align: left;
}

.error_article,
.error_when_monitored,
.error_set_condition,
.error_possible_causes,
.error_actions {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: #f6bf26;
}

.accordion.error_article {
    background: linear-gradient(135deg, red 10%, #1a1c1e);
    font-weight: bolder;
}

.accordion.error_article.active {
    background: linear-gradient(135deg, #1a1c1e 10%, red);
    font-weight: bolder;
}

.error_action {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

/* ACCORDION */

.accordion {
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: center;
    outline: none;
    transition: all 1s;
    font-family: Arial, sans-serif;
    font-size: 1.5vh;
    font-weight: bolder;
}

.active {
    color: #f6bf26;
}

.panel {
    background-color: #1a1c1e;
    color: #FFFFFF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
