*, button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: Roboto, sans-serif;*/
    /*font-size: 20px;*/
}

body {
    /*width: 100%;*/
    background-color: black;
    /*overflow-y: hidden;*/
}

.error_card_container {
    box-sizing: border-box;
    background-color: #1a1c1e;
    color: #f6bf26;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 1.5vh;
}

.error_card {
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 1.5vh;
}

p {
    color: #FFFFFF;
    text-align: left;
}

.error_article,
.error_when_monitored,
.error_set_condition,
.error_possible_causes,
.error_actions {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: #f6bf26;
}

.error_article {
    background: linear-gradient(135deg, red 10%, #1a1c1e);
    font-weight: bolder;
}

.error_text {
    text-align: left;
}

.error_actions {
    background: linear-gradient(135deg, #f6bf26 10%, #1a1c1e);
    color: #FFFFFF;
}

.error_actions .active {
    /*background-color: #2F2F2F;*/
    background: linear-gradient(135deg, #1a1c1e 10%, #f6bf26);

}

.error_action {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    text-align: left;
}
